extends layout/main

block content
    .form-container
        form(action=routes.editProfile, method='post', enctype="multipart/form-data")
            label(for="avatar") Avatar
            input(type="file", name="avatar", accept="image/*")
            input(type="name", name="name", placeholder="Name", value=loggedUser.name)
            input(type="email", name="email", placeholder="Email", value=loggedUser.email)
            input(type="submit", value="Update Profile")
        a.form-container__link(href=`${routes.users}${routes.changePassword}`)
            button Change Password