extends layout/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        //- .video__player
        //-     video(src='../'+video.fileUrl, controls=true)
        .video__info
            if video.creator.id === loggedUser.id
                button.small 
                    a(href=routes.editVideo(video.id)) Edit Video
            .video__title=video.title
            .video__author
                | Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
            .video__views #{video.views} views
            .video__description=video.description
        .video__comment
            if video.comments.length === 0 || video.comments.length === 1
                .video__comment-number
                    span#jsCommentCount=video.comments.length
                    span#jsCommentEnd &nbsp;comment
            else
                .video__comment-number
                    span#jsCommentCount=video.comments.length
                    span#jsCommentEnd &nbsp;comments
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a Comment...")
            ul.video__comment-list#jsCommentList
                each comment in video.comments.reverse()
                    .comment(id=`${comment._id}`)=comment.text
                    